(
    plugins: [
        (
            name: "Organ pipes",
            path: "../build/release/organ_pipes.dll"
        ),
        (
            name: "falling walls",
            path: "../build/release/fallen_walls.dll"
        ),
        (
            name: "door animation",
            path: "../build/release/doors.dll"
        ),
        (
            name: "meteor shower",
            path: "../build/release/doors.dll"
        ),
        (
            name: "giant summoning",
            path: "../build/release/summoning_giant.dll"
        )
    ]
)
